{
    "version": "1.0",
    "chainId": "1",
    "createdAt": 1654007302649,
    "meta": {
      "name": "Transactions Batch",
      "description": "",
      "txBuilderVersion": "1.8.0",
      "createdFromSafeAddress": "0xb527E950fC7c4F581160768f48b3bfA66a7dE1f0",
      "createdFromOwnerAddress": "",
      "checksum": "0x6e317afc197279541328cf252e50867cfa15d2ed7e7426244328bdf15b94cfe7"
    },
    "transactions": [
      {{#voltzVaults}}

      {
        "to": "{{voltzVaultGovernance}}",
        "value": "0",
        "data": null,
        "contractMethod": {
        "inputs": [
          {
            "internalType": "address[]",
            "name": "vaultTokens_",
            "type": "address[]"
          },
          {
            "internalType": "address",
            "name": "owner_",
            "type": "address"
          },
          {
            "internalType": "address",
            "name": "marginEngine_",
            "type": "address"
          },
          {
            "internalType": "address",
            "name": "voltzVaultHelperSingleton_",
            "type": "address"
          },
          {
            "components": [
              {
                "internalType": "int24",
                "name": "tickLower",
                "type": "int24"
              },
              {
                "internalType": "int24",
                "name": "tickUpper",
                "type": "int24"
              },
              {
                "internalType": "uint256",
                "name": "leverageWad",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "marginMultiplierPostUnwindWad",
                "type": "uint256"
              }
            ],
            "internalType": "struct IVoltzVault.InitializeParams",
            "name": "initializeParams",
            "type": "tuple"
          }
        ],
        "name": "createVault",
        "outputs": [
          {
            "internalType": "contract IVoltzVault",
            "name": "vault",
            "type": "address"
          },
          {
            "internalType": "uint256",
            "name": "nft",
            "type": "uint256"
          }
        ],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      "contractInputsValues": {
          "vaultTokens_": "[\"{{vaultTokens_}}\"]",
          "owner_": "{{owner_}}",
          "marginEngine_": "{{marginEngine_}}",
          "voltzVaultHelperSingleton_": "{{voltzVaultHelperSingleton_}}",
          "initializeParams": "[\"{{initializeParams.tickLower}}\", \"{{initializeParams.tickUpper}}\", \"{{initializeParams.leverageWad}}\", \"{{initializeParams.marginMultiplierPostUnwindWad}}\"]"
      }
    },

    {{/voltzVaults}}
    ]
  }